.row{
  margin: 0 !important;
}
label.filter-label {
    display: block;
    width: 100%;
    margin-left: 34%;
    height: 0px;
    margin-top: -14px;
}
.form-control{
  width: 40% !important;
}
th:nth-child(1) {
    width: 26%;
}
table.table thead th:after{
  content: "\21C5";
}
.alert-success, .alert-danger{
  display: none;
}

.TicTacToeApp {
  text-align: center;
  font-family: sans-serif;
}

.TicTacToeApp header {
  display: block;
  margin: 2em 0em;
}

body{
font-family: 'Inter', sans-serif !important;
}
.intro-content{
    background-color: #f4f4f4;
    background-image: linear-gradient(137deg, #FFFFFF 0%, #f4f4f4 65%);
    padding: 0px !important;
    margin: 0px !important;
}
.image-nopadding{
    padding: 0px;
}
.alert-sucess, .alert-danger{
  position: relative;;
  z-index: 9999;
}
.restaurant_value{
  background-color: #f2f2f2;
}